# secure htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# enable basic rewriting
#RewriteEngine on

# serve alternate default index page (thay doi trang index mac dinh)
#DirectoryIndex business.html

# serve foo files as php files
#AddType application/x-httpd-php .foo

#RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]
#RewriteRule ^home/ /home.php [L]

#Options +FollowSymLinks
#RewriteEngine On
#RewriteRule ^(.*).abc$ $1.php [L]
