#deny from all
AuthName "Restricted Area" 
AuthType Basic 
AuthUserFile /.htpasswd 
AuthGroupFile /dev/null 
<Files delete-article.php>
require valid-user
</Files>
<Files delete-dictionary.php>
require valid-user
</Files>
<Files login-action.php>
require valid-user
</Files>
<Files login.php>
require valid-user
</Files>
<Files logout.php>
require valid-user
</Files>
<Files orderadmin.php>
require valid-user
</Files>
<Files orderdatepost.php>
require valid-user
</Files>
<Files orderview.php>
require valid-user
</Files>
<Files register.php>
require valid-user
</Files>
<Files register-action.php>
require valid-user
</Files>
<Files simple_html_dom.php>
require valid-user
</Files>
